KuroganeHammer.Data/packages/
KuroganeHammer.Web/packages/
KuroganeHammer.WebScraper/bin/
KurograneTransferDBTool/KurograneTransferDBTool/bin/
KurograneTransferDBTool/packages/
packages/Newtonsoft.Json.8.0.2/lib/
KurograneTransferDBTool/KurograneTransferDBTool/obj/
KuroganeHammer.WebScraper/obj/
KuroganeHammer.Web/KuroganeHammer.Web/obj/
KuroganeHammer.Data/KuroganeHammer.Data.Api/obj/
KuroganeHammer.Data/KuroganeHammer.Data.Api/bin/
KuroganeHammer.Data/KuroganeHammer.Data.Api.Tests/obj/
KuroganeHammer.Data/KuroganeHammer.Data.Api.Tests/bin/
KuroganeHammer.Data.Core/obj/
KuroganeHammer.Data.Core/bin/
KuroganeHammer.Web/KuroganeHammer.Web/bin/
KurograneTransferDBTool/KurograneTransferDBTool/app.config
KuroganeHammer.Data/KuroganeHammer.Data.Api.Tests/App.config
KuroganeHammer.Data/KuroganeHammer.Data.Api/Web.config
