<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="..\..\..\appsettings.config">
    <add key="databaseName" value="playgroundfranndotexe"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="ds119151.mlab.com:19151/"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>