<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">

    <input type="text" class="form-control" value="{{characterName}}" ng-model="characterName" />
    <span class="glyphicon glyphicon-floppy-disk" ng-click="saveChanges()"></span>

    <div class="container fade-in two">

        <div style="text-align:center">
            <img ng-src="{{mainImageUrl}}"
                 alt="{{characterName}}" style="margin:auto" />
            <br />
            <br />
            <br />
            <br />
            <input type="button" ng-click="showMovementRow()" value="Add new movement stat" />
            <div ng-show="showNewMovementRow">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="" ng-model="newMovementStat.name" />
                        </td>
                        <td>
                            <input type="text" style="color:black;" value="" ng-model="newMovementStat.value" />
                        </td>
                        <td>
                            <input type="button" style="color:black;" ng-click="createNewMovementStat()" value="Create" />
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in movementData">
                        <td>
                            <input type="text" class="form-control" value="{{item.name}}" ng-model="item.name" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.value}}" ng-model="item.value" />
                        </td>
                        <td>
                            <span class="glyphicon glyphicon-floppy-disk" ng-click="saveMovementRow(item)"></span>
                            <span class="glyphicon glyphicon-remove" ng-click="deleteMovementRow(item)"></span>
                        </td>
                    </tr>
            </table>

            <br />
            <br />
            <br />
            <br />
            <h6 style="float:left;">Sorting by: {{predicate}}</h6>
            <input type="button" ng-click="showMoveRow()" value="Add new move" />
            <div ng-show="showNewMoveRow">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>HitboxActive</th>
                            <th>FirstActionableFrame</th>
                            <th>BaseDamage</th>
                            <th>Angle</th>
                            <th>BaseKnockbackSetKnockback</th>
                            <th>KnockbackGrowth</th>
                            <th>LandingLag</th>
                            <th>AutoCancel</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.name" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.hitboxActive" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.firstActionableFrame" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.baseDamage" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.angle" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.baseKnockBackSetKnockback" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.knockbackGrowth" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.landingLag" />
                        </td>
                        <td>
                            <input type="text" class="form-control" ng-model="newMoveStat.autoCancel" />
                        </td>
                        <td>
                            <input type="button" class="form-control" ng-click="createNewMoveStat()" value="Create" />
                        </td>
                    </tr>
                </table>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <span>Edit</span>
                        </th>
                        <th title="Name">
                            <a href="">Name</a>
                            <span ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="HitboxActive">
                            <a href="">HitboxActive</a>
                            <span ng-show="predicate === 'hitboxActive'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="First Actionable Frame">
                            <a href="">FAF</a>
                            <span ng-show="predicate === 'firstActionableFrame'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="Base Damage" nowrap>
                            <a href="">Base Dmg. (+SD)</a>
                            <span ng-show="predicate === 'baseDamage'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="Angle">
                            <a href="">Angle</a>
                            <span ng-show="predicate === 'angle'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="BaseKnockBack/SetKnockback">
                            <a href="">BKB/WBKB</a>
                            <span ng-show="predicate === 'baseKnockBackSetKnockback'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="Knockback Growth">
                            <a href="">KBG</a>
                            <span ng-show="predicate === 'knockbackGrowth'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="Landing Lag">
                            <a href="">LandingLag</a>
                            <span ng-show="predicate === 'landingLag'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th title="Auto Cancel">
                            <a href="">AutoCancel</a>
                            <span ng-show="predicate === 'autoCancel'" ng-class="{reverse:reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in moveData | orderBy:predicate:reverse">
                        <td>
                            <span>
                                <span class="glyphicon glyphicon-floppy-disk" ng-click="saveMoveRow(item)"></span>
                                <span class="glyphicon glyphicon-remove" ng-click="deleteMoveRow(item)"></span>
                            </span>
                        </td>
                        <td>
                            <input type="text" style="color:black;" value="{{item.name}}" ng-model="item.name" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.hitboxActive}}" ng-model="item.hitboxActive" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.firstActionableFrame}}" ng-model="item.firstActionableFrame" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.baseDamage}}" ng-model="item.baseDamage" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.angle}}" ng-model="item.angle" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.baseKnockBackSetKnockback}}" ng-model="item.baseKnockBackSetKnockback" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.knockbackGrowth}}" ng-model="item.knockbackGrowth" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.landingLag}}" ng-model="item.landingLag" />
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.autoCancel}}" ng-model="item.autoCancel" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>