<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">

    <!--<input type="text" class="form-control" value="{{vm.character.name}}" ng-model="vm.character.name" />-->
    <!--<span class="glyphicon glyphicon-floppy-disk" ng-click="vm.saveCharacterChanges()"></span>-->

    <div class="container fade-in two">

        <h4>Basic info:</h4>
        <input type="text" class="form-control" value="{{vm.character.name}}" ng-model="vm.character.name" placeholder="Character Name..." />
        <br />
        <hr />
        <h4>Details:</h4>
        <textarea class="form-control" rows="3" id="textArea" ng-model="vm.character.description" placeholder="Description..."></textarea>
        <br />
        <input type="text" class="form-control" value="" ng-model="vm.character.style" placeholder="Style..." />
        <br />
        <hr />
        <h4>Imagery:</h4>
        <div>
            <label title="Used when viewing character page">Main Image Url:</label>
            <!--<input type="file" value="..." ng-model="vm.character.mainImageUrl" />-->
            <input type="text" style="width:100%;" value="{{vm.character.mainImageUrl}}" ng-model="vm.character.mainImageUrl" />
        </div>
        <br />
        <div>
            <label title="Used when viewing the roster page">Tile Image Url:</label>
            <!--<input type="file" value="..." ng-model="vm.character.thumbnailUrl" />-->
            <input type="text" style="width:100%;" value="{{vm.character.thumbnailUrl}}" ng-model="vm.character.thumbnailUrl" />
        </div>

        <!--<div style="text-align:center">
            <img ng-src="{{vm.character.mainImageUrl}}"
                 alt="{{vm.character.name}}" style="margin:auto" />-->

        <hr />
        <a href="" class="btn btn-success" ng-click="vm.saveCharacterDetailsChanges()">Save Metadata Changes</a>
        <hr />
        <br />
        <br />
        <br />

        <input type="button" ng-click="vm.showMovementRow()" value="Add new movement stat" />
        <div ng-show="vm.showNewMovementRow">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input type="text" class="form-control" value="" ng-model="vm.newMovementStat.name" />
                    </td>
                    <td>
                        <input type="text" style="color:black;" value="" ng-model="vm.newMovementStat.value" />
                    </td>
                    <td>
                        <input type="button" style="color:black;" ng-click="vm.createNewMovementStat()" value="Create" />
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.movementData">
                    <td>
                        <input type="text" class="form-control" value="{{item.name}}" ng-model="item.name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.value}}" ng-model="item.value" />
                    </td>
                    <td>
                        <span title="save" class="glyphicon glyphicon-floppy-disk" ng-click="vm.saveMovementRow(item)"></span>
                        <span title="delete" class="glyphicon glyphicon-remove" ng-click="vm.deleteMovementRow(item)"></span>
                    </td>
                </tr>
        </table>

        <br />
        <br />
        <br />
        <br />
        <!--<h6 style="float:left;">Sorting by: {{vm.predicate}}</h6>-->
        <input type="button" ng-click="vm.showMoveRow()" value="Add new move" />
        <div ng-show="vm.showNewMoveRow">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>HitboxActive</th>
                        <th>FirstActionableFrame</th>
                        <th>BaseDamage</th>
                        <th>Angle</th>
                        <th>BaseKnockbackSetKnockback</th>
                        <th>KnockbackGrowth</th>
                        <th>LandingLag</th>
                        <th>AutoCancel</th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.hitboxActive" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.firstActionableFrame" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.baseDamage" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.angle" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.baseKnockBackSetKnockback" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.knockbackGrowth" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.landingLag" />
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="vm.newMoveStat.autoCancel" />
                    </td>
                    <td>
                        <input type="button" class="form-control" ng-click="vm.createNewMoveStat()" value="Create" />
                    </td>
                </tr>
            </table>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <span>Edit</span>
                    </th>
                    <th title="Name">
                        <a href="">Name</a>
                        <span ng-show="vm.predicate === 'name'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="HitboxActive">
                        <a href="">HitboxActive</a>
                        <span ng-show="vm.predicate === 'hitboxActive'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="First Actionable Frame">
                        <a href="">FAF</a>
                        <span ng-show="vm.predicate === 'firstActionableFrame'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="Base Damage" nowrap>
                        <a href="">Base Dmg. (+SD)</a>
                        <span ng-show="vm.predicate === 'baseDamage'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="Angle">
                        <a href="">Angle</a>
                        <span ng-show="vm.predicate === 'angle'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="BaseKnockBack/SetKnockback">
                        <a href="">BKB/WBKB</a>
                        <span ng-show="vm.predicate === 'baseKnockBackSetKnockback'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="Knockback Growth">
                        <a href="">KBG</a>
                        <span ng-show="vm.predicate === 'knockbackGrowth'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="Landing Lag">
                        <a href="">LandingLag</a>
                        <span ng-show="vm.predicate === 'landingLag'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                    <th title="Auto Cancel">
                        <a href="">AutoCancel</a>
                        <span ng-show="vm.predicate === 'autoCancel'" ng-class="{vm.reverse:vm.reverse}"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.moveData | orderBy:vm.predicate:vm.reverse">
                    <td>
                        <span>
                            <span title="save" class="glyphicon glyphicon-floppy-disk" ng-click="vm.saveMoveRow(item)"></span>
                            <span title="delete" class="glyphicon glyphicon-remove" ng-click="vm.deleteMoveRow(item)"></span>
                        </span>
                    </td>
                    <td>
                        <input type="text" style="color:black;" value="{{item.name}}" ng-model="item.name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.hitboxActive}}" ng-model="item.hitboxActive" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.firstActionableFrame}}" ng-model="item.firstActionableFrame" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.baseDamage}}" ng-model="item.baseDamage" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.angle}}" ng-model="item.angle" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.baseKnockBackSetKnockback}}" ng-model="item.baseKnockBackSetKnockback" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.knockbackGrowth}}" ng-model="item.knockbackGrowth" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.landingLag}}" ng-model="item.landingLag" />
                    </td>
                    <td>
                        <input type="text" class="form-control" value="{{item.autoCancel}}" ng-model="item.autoCancel" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
