<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <h2>{{characterName}}</h2>

    <a href="https://twitter.com/share?url={{twitterFullUrl}}">Tweet</a>
    <div class="container fade-in two">

        <div style="text-align:center">
            <img ng-src="{{mainImageUrl}}"
                 alt="{{characterName}}" style="margin:auto" />
            <br />
            <br />
            <br />
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in movementData" ng-click="goToMovementRanking(item)">
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                    </tr>
            </table>

            <br />
            <br />
            <br />
            <br />
            <h6>Sorting by: {{predicate}}</h6>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="order('name')">Name</a>
                            <span ng-show="predicate === 'name'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('hitboxActive')">HitboxActive</a>
                            <span ng-show="predicate === 'hitboxActive'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('firstActionableFrame')">FirstActionableFrame</a>
                            <span ng-show="predicate === 'firstActionableFrame'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('baseDamage')">BaseDamage</a>
                            <span ng-show="predicate === 'baseDamage'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('angle')">Angle</a>
                            <span ng-show="predicate === 'angle'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('baseKnockBackSetKnockback')">BaseKnockbackSetKnockback</a>
                            <span ng-show="predicate === 'baseKnockBackSetKnockback'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('knockbackGrowth')">KnockbackGrowth</a>
                            <span ng-show="predicate === 'knockbackGrowth'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('type')">Type</a>
                            <span ng-show="predicate === 'type'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('landingLag')">LandingLag</a>
                            <span ng-show="predicate === 'landingLag'" ng-class="{reverse:reverse}"></span>
                        </th>
                        <th>
                            <a href="" ng-click="order('autoCancel')">AutoCancel</a>
                            <span ng-show="predicate === 'autoCancel'" ng-class="{reverse:reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in moveData | orderBy:predicate:reverse" ng-click="goToMoveRanking(item)">
                        <td>{{item.name}}</td>
                        <td>{{item.hitboxActive}}</td>
                        <td>{{item.firstActionableFrame}}</td>
                        <td>{{item.baseDamage}}</td>
                        <td>{{item.angle}}</td>
                        <td>{{item.baseKnockBackSetKnockback}}</td>
                        <td>{{item.knockbackGrowth}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.landingLag}}</td>
                        <td>{{item.autoCancel}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>