<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2" >
    <div style="text-align:center">
        <h2>Need to contact us?</h2>
        <p>
            If you have something important to contact us about, whether it be a website bug, error or request, you can email us at:
            <br />
            kuroganehammer@bigpond.com
            <br />
            Keep in mind that emails likely won't get a response. If you want a response, you can tweet to me personally @KuroganeHammer on twitter.
        </p>
    </div>
   
</div>