<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <div style="text-align:center">
        <h2>Glossary</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>TERM</th>
                    <th>DEFINITION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Frame</td>
                    <td>The smallest unit of time in which an action can be inputted. 1 frame = 1/60 of a second.</td>
                </tr>
                <tr>
                    <td>Hitbox Active</td>
                    <td>Frames during which the attack&#039;s hitboxes are active.</td>
                </tr>
                <tr>
                    <td>FAF (First Actionable Frame)</td>
                    <td>
                        First frame on which you can perform another move. This will be the
                        animation&#039;s end or the IASA frame if the move has one.
                    </td>
                </tr>
                <tr>
                    <td>Base Damage (Base Dmg.)</td>
                    <td>
                        Base damage values
                        for each hitbox.
                    </td>
                </tr>
                <tr>
                    <td>Angle</td>
                    <td>
                        Angle at which the
                        opponent will be knocked away.
                    </td>
                </tr>
                <tr>
                    <td>BKB</td>
                    <td>
                        Base knockback of the
                        move.
                    </td>
                </tr>
                <tr>
                    <td>WBKB</td>
                    <td>
                        Set knockback of the
                        move (Determined by weight).
                    </td>
                </tr>
                <tr>
                    <td>KBG</td>
                    <td>
                        Knockback growth of the
                        move.
                    </td>
                </tr>
                <tr>
                    <td>Sweetspot</td>
                    <td>The strongest part of an attack.</td>
                </tr>
                <tr>
                    <td>Landing Lag</td>
                    <td>
                        Aerials only.
                        Number of frames the character lags when they hits the ground during an aerial.
                    </td>
                </tr>
                <tr>
                    <td>Autocancel</td>
                    <td>
                        Aerials only.
                        Frames during which the character can land without the aerial move&#039;s
                        landing lag. (They will instead suffer normal jump landing lag.)
                    </td>
                </tr>
                <tr>
                    <td>Hurtbox</td>
                    <td>The space around a character where hitboxes can inflict damage.</td>
                </tr>
                <tr>
                    <td>Intangibility</td>
                    <td>
                        Frames during
                        which the character's hurtbox is unable to be interacted with.
                    </td>
                </tr>
                <tr>
                    <td>Invincibility</td>
                    <td>Frames during which the character will take no damage. </td>
                </tr>
                <tr>
                    <td>Rehit Rate</td>
                    <td>If set to a number greater than 0, makes the hitbox hit again every X frames.</td>
                </tr>
                <tr>
                    <td>Super Armor</td>
                    <td>Frames which a character will not flinch when attacked. Infinite.</td>
                </tr>
                <tr>
                    <td>Heavy Armor</td>
                    <td>Frames which a character will not flinch when attacked. Finite and determined by knockback sustained.</td>
                </tr>
                <tr>
                    <td>Damage Based Armor</td>
                    <td>Frames which a character will not flinch when attacked. Finite and determined by the damage of the move.</td>
                </tr>
                <tr>
                    <td>Reflection</td>
                    <td>Reflection is the process of using a particular move to deflect incoming projectiles.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>