<!--<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>-->
<div class="row" style="width: 50%; margin: 0 auto;">
    <h1>
        <img alt="KuroganeHammer" height="326" src="http://kuroganehammer.com/logo/KH%20LOGO1.png">
    </h1>
    <br/><br/>
    <table id="AutoNumber1" style="border-collapse: collapse;" >
        <tbody>
            <tr>
                <td>
                    <a href="#smash4"><img alt="Smash Bros Wii U Frame Data" height="214" src="http://kuroganehammer.com/logo/wiiu.png"></a>
                </td>
                <td>
                    <a href="/Melee"><img alt="Smash Bros Melee Frame Data"  height="214" src="http://kuroganehammer.com/logo/melee.png" ></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/Pokken"><img alt="Pokken Frame Data"  height="281" src="http://kuroganehammer.com/logo/pokken.png" ></a>
                </td>
                <td>
                    <a href="/RivalsofAether"><img alt="Rivals of Aether Frame Data"  height="281" src="http://kuroganehammer.com/logo/rivals.png"></a>
                </td>
            </tr>
        </tbody>
    </table><br>
</div>
