<div class="login-block">
    <h1>Login</h1>
    <input type="text" value="" placeholder="Username" id="username" data-ng-model="loginData.userName" required autofocus/>
    <input type="password" value="" placeholder="Password" id="password" data-ng-model="loginData.password" required/>
    <button type="submit" data-ng-click="login()">Login</button>
</div>
<!--<form class="form-login" role="form">
    <div class="login-box animated fadeInUp">
        <div class="box-header">
            <h2>Log In</h2>
        </div>
        <label for="username">Username</label>
        <br />
        <input type="text" id="username" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" id="password" placeholder="Password" data-ng-model="loginData.password" required>
        <br />
        <button type="submit" data-ng-click="login()">Login</button>
        <br />
        <div data-ng-hide="message == ''" class="alert alert-danger">
            {{message}}
        </div>
        <a href="#"><p class="small">Forgot your password?</p></a>
    </div>

</form>-->
    <!--<form class="form-login" role="form">
        <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
            <h2 class="form-login-heading">Login</h2>
            <div>
                <table>
                    <tr>
                        <input type="text" class="form-control input-sm" placeholder="Username" data-ng-model="loginData.userName" required autofocus>
                    </tr>
                    <tr>
                        <input type="password" class="form-control input-sm" placeholder="Password" data-ng-model="loginData.password" required>
                    </tr>
                    <tr>
                        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="login()">Login</button>
                    </tr>
                </table>
                <div data-ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </div>
        </div>


    </form>-->
