<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <h2>{{movementName}}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Character</th>
                <th>Name</th>
                <th>HitboxActive</th>
                <th>FirstActionableFrame</th>
                <th>BaseDamage</th>
                <th>Angle</th>
                <th>BaseKnockbackSetKnockback</th>
                <th>KnockbackGrowth</th>
                <th>Type</th>
                <th>LandingLag</th>
                <th>AutoCancel</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in moveData">
                <td>{{item.characterName}}</td>
                <td>{{item.name}}</td>
                <td>{{item.hitboxActive}}</td>
                <td>{{item.firstActionableFrame}}</td>
                <td>{{item.baseDamage}}</td>
                <td>{{item.angle}}</td>
                <td>{{item.baseKnockBackSetKnockback}}</td>
                <td>{{item.knockbackGrowth}}</td>
                <td>{{item.type}}</td>
                <td>{{item.landingLag}}</td>
                <td>{{item.autoCancel}}</td>
            </tr>
        </tbody>
    </table>
</div>