<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <h2>{{vm.moveName | uppercase}}</h2>
    <br/>
    <br/>
    <!--<a href="https://twitter.com/share" class="twitter-share-button" data-via="jpol711" data-dnt="true">Tweet</a>-->
    <br />
    <br />
    <h6>Sorting by: {{vm.predicate}}</h6>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    <a href="" ng-click="vm.order('characterName')">Character</a>
                    <span ng-show="vm.predicate === 'character'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('hitboxActive')">HitboxActive</a>
                    <span ng-show="vm.predicate === 'hitboxActive'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('firstActionableFrame')">FirstActionableFrame</a>
                    <span ng-show="vm.predicate === 'firstActionableFrame'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('baseDamage')">BaseDamage</a>
                    <span ng-show="vm.predicate === 'baseDamage'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('angle')">Angle</a>
                    <span ng-show="vm.predicate === 'angle'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('baseKnockBackSetKnockback')">BaseKnockbackSetKnockback</a>
                    <span ng-show="vm.predicate === 'baseKnockBackSetKnockback'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('knockbackGrowth')">KnockbackGrowth</a>
                    <span ng-show="vm.predicate === 'knockbackGrowth'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('landingLag')">LandingLag</a>
                    <span ng-show="vm.predicate === 'landingLag'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
                <th>
                    <a href="" ng-click="vm.order('autoCancel')">AutoCancel</a>
                    <span ng-show="vm.predicate === 'autoCancel'" ng-class="{vm.reverse:vm.reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.moveData | orderBy:vm.predicate" ng-click="vm.goToCharacter(item)">
                <td><img width="70" height="70" ng-src="{{item.thumbnailUrl}}" /></td>
                <td>{{item.hitboxActive}}</td>
                <td>{{item.firstActionableFrame}}</td>
                <td>{{item.baseDamage}}</td>
                <td>{{item.angle}}</td>
                <td>{{item.baseKnockBackSetKnockback}}</td>
                <td>{{item.knockbackGrowth}}</td>
                <td>{{item.landingLag}}</td>
                <td>{{item.autoCancel}}</td>
            </tr>
        </tbody>
    </table>
</div>