<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <h2>{{movementName}}</h2>
    <br/>
    <br/>
    <!--<a href="https://twitter.com/share" class="twitter-share-button" data-via="jpol711" data-dnt="true">Tweet</a>-->
    <br/>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Character</th>
                <th>
                    <a href="" ng-click="order('value')">Value</a>
                    <span class="sortorder" ng-show="predicate === 'value'" ng-class="{reverse:reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in movementData | orderBy:predicate:reverse" ng-click="goToCharacter(item)">
                <td><img width="70" height="70" ng-src="{{item.characterThumbnailUrl}}" /></td>
                <td>{{item.value}}</td>
            </tr>
    </table>
</div>