<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <h2>{{movementName}}</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Character</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in movementData | orderBy: '-value'">
                <td><img width="70" height="70" ng-src="{{item.characterThumbnailUrl}}" /></td>
                <td>{{item.value}}</td>
            </tr>
    </table>
</div>