<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2">
    <div style="text-align:center" class="fade-in two">
        <h2>Hello there!</h2>
        <p>
            Welcome to KuroganeHammer, a website dedicated to cataloguing frame data and hitbox data for Super Smash Brothers for Wii U, otherwise known as Smash 4, or SM4SH.
            <br />
            My name is <b>Aerodrome</b>, and I'm the creator of this website. Some of you may know me from Smashboards, where I used to be kept as a Global Moderator.
            <br />
            But straight to the point; this website is being designed to cater to the competitive side of the community, but none of this would have been possible without the help of a lot of individuals.
            <br />
            So I'd like to take the opportunity to thank those people here.
        </p>
        <br />
        <h2>Special Thanks:</h2>
        <p>
            <b>BJN39</b> and <b>AnEventHorizon</b> for assisting me with character pages.
            <br />
            <b>Shitashi</b> for hosting KuroganeHammer.com on his webservers
            <br />
            Everyone else who've helped me in some way. There's many of you!
        </p>
    </div>

</div>