<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fransm4shtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fransm4shtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FranSm4shTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FranSm4shTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurogane.Data.RestApi.AuthContext, Kurogane.Data.RestApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KuroganeDataRestApiContext" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|KuroganeDataRestApiContext-20151101080632.mdf;Initial Catalog=KuroganeDataRestApiContext-20151101080632;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KuroganeDataRestApiContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=KuroganeDataRestApiContext-20151101080632; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|KuroganeDataRestApiContext-20151101080632.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KuroganeServiceContext" Order="4" Enabled="False">
          <Destination Path="Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|KuroganeServiceContext-20151101080505.mdf;Initial Catalog=KuroganeServiceContext-20151101080505;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KuroganeServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=KuroganeServiceContext-20151101080505; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|KuroganeServiceContext-20151101080505.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Kurogane.Data.RestApi.Sm4shContext" Order="5" Enabled="False">
          <Destination Path="Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kurogane.Data.RestApi.Sm4shContext, Kurogane.Data.RestApi" MigrationConfiguration="Kurogane.Data.RestApi.Migrations.Configuration, Kurogane.Data.RestApi" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Kurogane.Data.RestApi.Sm4shContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KuroganeDataRestApiContext-Web.config Connection String">
      <ParameterValue>data source=tcp:fran711.database.windows.net,1433;initial catalog=Sm4sh;user id=masterfran@fran711;password=Soccer711jp711;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KuroganeServiceContext-Web.config Connection String">
      <ParameterValue>data source=tcp:fran711.database.windows.net,1433;initial catalog=Sm4sh;user id=masterfran@fran711;password=Soccer711jp711;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>