<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fransm4shtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fransm4shtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FranSm4shTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FranSm4shTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Sm4shEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurogane.Data.RestApi.Infrastructure.Sm4ShEntities, Kurogane.Data.RestApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AuthContext" Order="7" Enabled="False">
          <Destination Path="Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Kurogane.Data.RestApi.Infrastructure.AuthContext, Kurogane.Data.RestApi" MigrationConfiguration="Kurogane.Data.RestApi.Migrations.Configuration, Kurogane.Data.RestApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fran711.database.windows.net,1433;Initial Catalog=Sm4sh;User ID=masterfran@fran711;Password=Soccer711jp711</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sm4shEntities-Web.config Connection String" />
  </ItemGroup>
</Project>