<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>FrannHammerAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="AuthContext" Order="1" Enabled="False">
          <Destination Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Kurogane.Data.RestApi.AuthContext, Kurogane.Data.RestApi" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Sm4shEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="KuroganeHammer.Data.Sm4shEntities, KuroganeHammer.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="KuroganeDataRestApiContext" Order="3" Enabled="False">
          <Destination Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KuroganeDataRestApiContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KuroganeServiceContext" Order="4" Enabled="False">
          <Destination Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\KuroganeServiceContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AuthContext-Web.config Connection String">
      <ParameterValue>Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KuroganeDataRestApiContext-Web.config Connection String">
      <ParameterValue>Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)KuroganeServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Sm4shEntities-Web.config Connection String">
      <ParameterValue>Data Source=***REMOVED***\SQLEXPRESS;Initial Catalog=Sm4sh;Integrated Security=False;Persist Security Info=True;User ID=***REMOVED***;Password=Sq018361;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>