body {
    background-color: white;
    color: black;
}

.swagger-section #header {
    background-color: #255e7f;
    padding: 9px 14px 19px 14px;
    height: 23px;
    min-width: 775px;
}

.swagger-section .swagger-ui-wrap p {
    line-height: 1.4em;
    padding: 0 0 10px;
    color: black;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading h2 a:hover {
    color: black;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a:visited {
    color: black;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
    color: black;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a, .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
    color: black;
}

.swagger-section #api_selector {
    display: none;
    clear: none;
    float: right;
}